@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #1e40af;
}

/* Custom scrollbar for slider */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}